Juego_De_Autos/[Tt]emp/
Juego_De_Autos/[Bb]in/*.exe
Juego_De_Autos/[Bb]in/*.exp
Juego_De_Autos/[Bb]in/*.pdb
Juego_De_Autos/[Bb]in/*.dll
Juego_De_Autos/[Bb]in/*.log
Juego_De_Autos/[Bb]in/*.lib
Juego_De_Autos/[Ll]ib/
!Dependecies/FMod/core/lib/
Juego_De_Autos/[Oo]bj/

.vs/

*.user
*.obj
*.tlog